<div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
    <div
      *ngFor="let repo of repos"
      class="bg-gray-100 border shadow-lg dark:bg-gray-800 dark:border-gray-700 dark:text-white rounded-xl p-4 text-xs flex flex-col justify-between hover:bg-gray-200 transition duration-300 ease-in-out animate-fade"
    >
      <div class="flex justify-between">
        <h3 class="text-lg font-semibold dark:font-medium">
          {{ repo.full_name }}
        </h3>
        <p class="text-gray-500 dark:text-gray-100 mt-1 ml-2">
          {{ repo.created_at }}
        </p>
      </div>
      <p class="text-gray-700 dark:text-gray-100 mb-1">
        Config files for my GitHub profile.
      </p>

      <div>
        <p>
          Repo:
          <a target="_blank" class="text-blue-500" [href]="repo.html_url">{{
            repo.git_url
          }}</a>
        </p>

        <!-- <p>
          Live:
          <a
            target="_blank"
            class="text-blue-500"
            href="https://github.com/201903011"
          ></a>
        </p> -->
      </div>
      <div class="flex justify-between mt-1 mb-1">
        <p class="font-semibold">Forks: {{ repo.forks_count }}</p>

        <p class="font-semibold">Stars: {{ repo.stargazers_count }}</p>
      </div>
      <div *ngIf="repo.language; else noLanguage" class="mt-4">
        <p class="font-semibold">Language :</p>
        <div class="flex flex-wrap">
          <div class="bg-blue-500 text-white px-2 py-1 rounded-md m-1">
            {{ repo.language }}
          </div>
        </div>
      </div>
      <ng-template #noLanguage>
        <div class="h-12"></div>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #no_repo>
  <!-- Display a message when no repositories are found -->
  <p>No repositories found.</p>
</ng-template>
