<div class="mt-8 flex flex-col">
  <ul class="flex justify-center space-x-2">
    <li>
      <a class="older bg-blue-500 text-white px-3 py-2 rounded-md">Older</a>
    </li>

    <li>
      <a class="bg-blue-100 text-blue-500 px-3 py-2 rounded-md">1</a>
    </li>

    <li class="disabled">
      <a class="bg-blue-100 text-blue-500 px-3 py-2 rounded-md">2</a>
    </li>

    <li class="disabled">
      <a class="bg-blue-100 text-blue-500 px-3 py-2 rounded-md">3</a>
    </li>

    <li class="disabled">
      <a class="bg-blue-100 text-blue-500 px-3 py-2 rounded-md">4</a>
    </li>

    <li class="disabled">
      <a class="bg-blue-100 text-blue-500 px-3 py-2 rounded-md">5</a>
    </li>

    <li class="disabled">
      <a class="bg-blue-100 text-blue-500 px-3 py-2 rounded-md">6</a>
    </li>

    <li class="disabled">
      <a class="bg-blue-100 text-blue-500 px-3 py-2 rounded-md">7</a>
    </li>

    <li class="disabled">
      <a class="bg-blue-100 text-blue-500 px-3 py-2 rounded-md">8</a>
    </li>

    <li class="disabled">
      <a class="bg-blue-100 text-blue-500 px-3 py-2 rounded-md">9</a>
    </li>

    <li class="disabled">
      <a class="bg-blue-100 text-blue-500 px-3 py-2 rounded-md">10</a>
    </li>

    <li class="disabled">
      <a class="bg-blue-100 text-blue-500 px-3 py-2 rounded-md">11</a>
    </li>

    <li>
      <a class="newer bg-blue-500 text-white px-3 py-2 rounded-md">Newer</a>
    </li>
  </ul>
  <div class="flex justify-center mt-4">
    <span class="text-gray-600 dark:text-gray-100">Showing 1 of 11 pages</span>
  </div>
</div>
