<div
  class="flex flex-col md:flex-row items-center mt-6 mb-4 justify-start gap-8"
>
  <div class="md:mr-4 animate-fade-right rounded-full shadow-2xl p-2">
    <img
      alt="Avatar"
      class="w-52 h-52 rounded-full shadow-[4.0px_8.0px_4.0px_rgba(0,0,0,0.38)]"
      [src]="searchedUser?.avatar_url"
    />
  </div>
  <div class="animate-fade-right">
    <div class="mb-2">
      <p class="text-2xl font-medium dark:text-white">
        <a [href]="searchedUser?.html_url">{{ searchedUser?.login }}</a>
      </p>
      <p></p>
    </div>

    <p class="text-gray-800 dark:text-gray-100 text-base"></p>
    <div
      class="flex gap-4 mb-1 dark:text-gray-100 flex items-center justify-start"
    >
      <i class="fas fa-user-group" style="font-size: 15px"> </i>
      <p class="font-medium dark:text-gray-100">
        Followers: {{ searchedUser?.followers }}
      </p>

      <p class="font-medium dark:text-gray-100">
        Following: {{ searchedUser?.following }}
      </p>
    </div>
  </div>
</div>
